<configuration packagingData="true">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%date{UTC} [%thread]) %-5level %logger{36} -%X{user_id} %msg%n %ex{full}</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>
</configuration>
